{% extends 'core/base.html'%}

{% load static %}

{% block title %}Placas Madres{% endblock %}

{% block nav %}
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #264653;">
  <a href="{% url 'inicio' %}" target="_parent">
  <img src="{% static 'core/img/CANO_logo.png' %}" alt="logo" width="80px" height="80px">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav" id="nav">
      <li class="nav-item  ">
      <a class="nav-link " href="{% url 'inicio' %}">Inicio </a>
      </li>
      <li class="nav-item">
      <a class="nav-link active" href="{% url 'acerca' %}">Acerca de..</a>
      </li>
      <li class="nav-item">
      <a class="nav-link " href="{% url 'contacto' %}">Contacto</a>
      </li>
      <li class="nav-item">
      <a class="nav-link " href="{% url 'juego' %}">Juegos</a>
      </li>
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cotizador
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'EnfriamientoCPU' %}">Enfriamientos CPU</a>
          <a class="dropdown-item" href="{% url 'fuentesDePoder' %}">Fuentes de Poder</a>
          <a class="dropdown-item" href="{% url 'Gabinetes' %}">Gabinetes</a>
          <a class="dropdown-item active" style="background-color: #264653;" href="{% url 'PlacaMadre' %}">Placas Madres</a>
          <a class="dropdown-item" href="{% url 'Procesadores' %}">Procesadores</a>
          <a class="dropdown-item" href="{% url 'SistemasAlmacenamiento' %}">Unidades de almacenamiento</a>
          <a class="dropdown-item" href="{% url 'TargetasGraficas' %}">Tarjetas Graficas</a>
          <a class="dropdown-item" href="{% url 'TarjetasRam' %}">Memorias RAM</a>
      </div>
      </li>
  </ul>
  </div>
  {% if user.is_authenticated  %}
    <li>
        <a href="{% url 'logout' %}">Cerrar sesión</a>
    </li>
    <li>
      <a href="#">@{{ user.username}}</a>
    </li>
    {% else %}
    <li>
        <a href="{% url 'login' %}">Iniciar sesión</a>
    </li>
    <li>
      <a href="{% url 'registro' %}">Registrate</a>
    </li>
    
    {% endif %}
  </nav>
{% endblock %}

{% block content %}<header>
            <div class="container">
            <div class="row mt-4 mb-4">
                <div class="col-sm-12">
                    <div class="card">
                    <img class="card-img-top" src="{% static 'core/img/PLACAS/PLACAS.png' %}" alt="Imagen">
                    </div>
                </div>
            </div>
            </div>
        </header >

        <section>
            <div class="container">
            <div class="row mt-4 mb-4">
                <div class="card-deck">
                <div class="card bg-dark text-white">
                    <div class="card-header">
                    <h4 class="card-title"><b>Gigabyte H310M H 2.0</b></h4>
                    </div>
                    <div class="card-body">
                        <img class="card-img-top " src="{% static 'core/img/PLACAS/Gigabyte H310M H 2.0.jpg' %}" alt="Imagen">
                    </div>
                    <div class="card-footer">
                        <p><b> DETALLES</b> <br>
                        <b> Socket:</b> LGA 1151 (8va / 9na gen) <br>
                        <b> Chipset:</b>Intel H310 (LGA 1151 (8va / 9na gen)) <br>
                        <b> Memorias:</b> 2x DDR4 <br>
                        <b> Formato:</b> Micro ATX <br>
                        <b> Marca:</b> Gigabyte <br>
                        <span style="color: red;"><b> PRECIO: $53.000</b></span></p>
                    </div>
                </div>
                <div class="card bg-dark text-white">
                    <div class="card-header">
                    <h4 class="card-title">Gigabyte H410M S2</h4>
                    </div>
                    <div class="card-body">
                    <img class="card-img-top" src="{% static 'core/img/PLACAS/Gigabyte H410M S2.jpg' %}" alt="Imagen">
                    </div>
                    <div class="card-footer">
                    <p><b> DETALLES</b> <br>
                    <b> Socket:</b> LGA 1200 <br> 
                    <b> Chipset:</b> Intel H410 (LGA 1200) <br>
                    <b> Memorias:</b> 2x DDR4 <br>
                    <b> Formato:</b> Micro ATX  <br>
                    <b> Marca:</b> Gigabyte <br>
                    <span style="color: red;"><b> PRECIO: $79.990</b></span></p>
                    </div>
                </div>
                <div class="card bg-dark text-white">
                    <div class="card-header">
                        <h4 class="card-title">Gigabyte B365 M AORUS ELITE</h4>
                    </div>
                    <div class="card-body">
                        <img class="card-img-top" src="{% static 'core/img/PLACAS/Gigabyte B365 M AORUS ELITE.jpg' %}" alt="Imagen">
                    </div>
                    <div class="card-footer">
                        <p><b> DETALLES</b> <br>
                        <b> Socket:</b> LGA 1151 (8va / 9na gen) <br>
                        <b> Chipset:</b> Intel B365 (LGA 1151 (8va / 9na gen))  <br>
                        <b> Memorias:</b> 4x DDR4 <br>
                        <b> Formato:</b> Micro ATX <br>
                        <b> Marca:</b> Gigabyte <br>
                        <span style="color: red;"><b> PRECIO: $91.900</b></span></p>
                    </div>
                </div> 
                <div class="card bg-dark text-white">
                    <div class="card-header">
                    <h4 class="card-title">MSI Z490-A PRO</h4>
                    </div>
                    <div class="card-body">
                    <img class="card-img-top" src="{% static 'core/img/PLACAS/MSI Z490-A PRO.jpg' %}" alt="Imagen">
                    </div>
                    <div class="card-footer">
                    <p><b> DETALLES</b> <br>
                        <b> Socket:</b> LGA 1200 <br>
                        <b> Chipset:</b> Intel Z490 (LGA 1200) <br>
                        <b> Memorias:</b> 4x DDR4 <br>
                        <b> Formato:</b> ATX <br>
                        <b> Marca:</b> MSI <br>
                        <span style="color: red;"><b>PRECIO: $159.900</b></span> </p>
                    </div>
                </div> 
            </div>
            </div>
            <section class="conver" id="conver" style="background-color: black; color: aliceblue;">
            <div id="app">
                <div class="container">
                <h5>Convertidor de monedas</h5>
                <div class="row">
                    <div class="col-sm-6">
                    <label for="actual"></label>
                    <select v-model="from" name="" id="" class="form-control">
                        <option :value="monedas.id" v-for="monedas in formatearMonedas">
                        {{monedas.currencyName}}
                        </option>
                    </select>
                    </div>
                    <div class="col-sm-6">
                    <label for="final"></label>
                    <select v-model="to" name="" id="" class="form-control">
                        <option :value="monedas.id" v-for="monedas in formatearMonedas">
                        {{monedas.currencyName}}
                        </option>
                    </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 offset-md-2">
                    <input v-model="cantidad" type="text" class="form-control my-5" placeholder="ingresar cantidad">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                    <button :disabled="deshabilidado" @click="convertirMoneda()" class="btn btn-primary" >Convertir</button>
                    </div>
                </div>
                <div class=" row mt-5">
                    <div class="col-sm-12 text-center">
                    <h5>{{calcularResultado}}</h5>
                    </div>
                </div>
                </div>
            </div>

            </section>
            <br> <hr/> <br>
            <div class="row mt-4 mb-4">
            <div class="card-deck">
                <div class="card bg-dark text-white">
                <div class="card-header">
                    <h4 class="card-title"><b>Gigabyte GA-A320M-H</b></h4>
                </div>
                <div class="card-body">
                    <img class="card-img-top " src="{% static 'core/img/PLACAS/Gigabyte GA-A320M-H.jpg' %}" alt="Imagen">
                </div>
                <div class="card-footer">
                    <p><b> DETALLES</b> <br>
                        <b> Socket:</b> AM4 <br>
                        <b> Chipset:</b> AMD A320 (AM4) <br>
                        <b> Memorias:</b> 2x DDR4 <br>
                        <b> Formato:</b> Micro ATX <br>
                        <b> Marca:</b> Gigabyte <br>
                        <span style="color: red;"><b> PRECIO: $53.800</b></p></span>
                </div>
                </div>
                <div class="card bg-dark text-white">
                <div class="card-header">
                    <h4 class="card-title">Gigabyte B450 Gaming X</h4>
                </div>
                <div class="card-body">
                    <img class="card-img-top" src="{% static 'core/img/PLACAS/Gigabyte B450 Gaming X.jpg' %}" alt="Imagen">
                </div>
                <div class="card-footer">
                    <p><b> DETALLES</b> <br>
                    <b> Socket:</b> AM4 <br>
                    <b> Chipset:</b> AMD B450 (AM4) <br>
                    <b> Memorias:</b> 4x DDR4 <br>
                    <b> Formato:</b> ATX <br>
                    <b> Marca:</b> Gigabyte <br>
                    <span style="color: red;"><b> PRECIO: $84.990</b></span></p>
                </div>
                </div>
                <div class="card bg-dark text-white">
                    <div class="card-header">
                    <h4 class="card-title">ASRock B550M Pro4</h4>
                    </div>
                    <div class="card-body">
                    <img class="card-img-top" src="{% static 'core/img/PLACAS/ASRock B550M Pro4.jpg' %}" alt="Imagen">
                    </div>
                    <div class="card-footer">
                    <p><b> DETALLES</b> <br>
                        <b> Socket:</b> AM4 <br>
                        <b>Chipset:</b>  AMD B550 (AM4) <br>
                        <b> Memorias:</b> 4x DDR4 <br>
                        <b> Formato:</b> Micro ATX <br>
                        <b> Marca:</b> ASRock  <br>
                        <span style="color: red;"><b> PRECIO: $119.700</b></span></p>
                    </div>
                </div> 
                <div class="card bg-dark text-white">
                <div class="card-header">
                    <h4 class="card-title">MSI MPG X570 GAMING PLUS</h4>
                </div>
                <div class="card-body">
                    <img class="card-img-top" src="{% static 'core/img/PLACAS/ASRock B550M Pro4.jpg' %}" alt="Imagen">
                </div>
                <div class="card-footer">
                    <p><b> DETALLES</b> <br>
                    <b> Socket:</b> AM4 <br>
                    <b> Chipset:</b> AMD X570 (AM4) <br>
                    <b> Memorias:</b> 4x DDR4 <br>
                    <b> Formato:</b> ATX <br>
                    <b> Marca:</b> MSI <br>
                    <span style="color: red;"><b> PRECIO: $159.900</b></span></p>
                </div>
                </div> 
            </div>
            </div>
        </div>
        </section>
{% endblock %}