{% extends 'core/base.html'%}

{% load static %}

{% block title %} Listar Tarjetas Rams{% endblock %}

{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #264653;">
        <a href="{% url 'inicio' %}" target="_parent">
        <img src="{% static 'core/img/CANO_logo.png' %}" alt="logo" width="80px" height="80px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" id="nav">
            <li class="nav-item  ">
            <a class="nav-link " href="{% url 'inicio' %}">Inicio </a>
            </li>
            <li class="nav-item">
            <a class="nav-link " href="{% url 'agregarJuego' %}"> Agregar  Juegos</a>
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Agregar Productos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'agregarGabinete' %}"> Agregar Gabinetes</a>
                <a class="dropdown-item" href="{% url 'agregarProce' %}"> Agregar Procesadores</a>
                <a class="dropdown-item " href="{% url 'agregarGPU' %}"> Agregar Tarjetas Graficas</a>
                <a class="dropdown-item active" style="background-color: #264653;" href="{% url 'agregarRams' %}"> Agregar Memorias RAM</a>
            </div>
            </li>
        </ul>
        </div>
        {% if user.is_authenticated  %}
    <li>
        <a href="{% url 'logout' %}">Cerrar sesión</a>
    </li>
    <li>
      <a href="#">@{{ user.username}}</a>
    </li>
    {% else %}
    <li>
        <a href="{% url 'login' %}">Iniciar sesión</a>
    </li>
    <li>
      <a href="{% url 'registro' %}">Registrate</a>
    </li>
    
    {% endif %}
        </nav>
{% endblock %}



{% load humanize %}

{% block content %}
<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
            
                    <h2> Listado de Tarjetas Rams</h2>
                    <table class="table table-striped table-hover table-responsive-sm" style="width: 100% ; height: 100px;">
                        <tr>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Capacidad</th>
                            <th>Tipo</th>
                            <th>Opciones</th>
                            <th></th>
                        </tr>
                    
                        {% for p in entity%}
                        
                        <tr>
                            <td>{{p.nombre}}</td>
                            <td>{{p.precio | intcomma }}</td>
                            <td>{{p.capacidad}}</td>
                            <td>{{p.tipo}}</td>
                            <td>
                                <a href="{% url 'modiRams' p.id %}" class="btn btn-info btn-sm">Modificar</a>
                            </td>
                            <td>
                                <a href="{% url 'eliminar_rams' p.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                            </td>
                        </tr>    
                        {% endfor %}
                    </table>
                    <div>
                        {% include 'core/paginator.html' %}
                    </div>
               
    </div>
</div>            
{% endblock %}